:root {
  --ff-sans: 'Poppins', sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;/*12px author/diff tag*/
  --fs-300: 0.813rem;/*13px nav and small btn*/
  --fs-400: 1rem;/*16px descript on cards*/
  --fs-500: 1.063rem;/*17px paras but not in cards*/
  --fs-600: 1.25rem;/*20px price in cards/large button*/
  --fs-800: 2.125rem;/*34px - title in cards plus knitting comm sect title*/
  --fs-900: 3.375rem;/*54px title mobile/become instr sect title*/
  

  
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --clr-neutral-100: #ffffff;/*bg*/
  --clr-neutral-200: #f5f7fa;/*search bar, card bg*/
  --clr-neutral-300: #737b8c;/*placeholder, light txt*/
  --clr-neutral-400: #434956;/*p txt*/
  --clr-neutral-900: #020203;/*most txt*/
  

  --clr-primary-500: #0469dc;/*blue elements*/
  --clr-secondary-600: #5858da;/*purple*/
  --clr-secondary-700: #0469DC;
  --clr-secondary-900: #05090f;/*black btn*/

  --br-100: 1rem;
  --br-200: 2rem;/*btn*/
  --br-300: 2.5rem;/*img*/
}

@media (min-width: 40em) {
  :root {
    --fs-300: 1.25rem;/*13px big btn*/
    --fs-900: 5rem;/*80px title big screens*/
    
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br-300);
}

body {
  line-height: 1.75;
  font-family: var(--ff-sans);
  
  
  padding: 0 2.5rem;
}

.bg-primary-100 {
  background-color: var(--clr-neutral-100);/*main bg*/
}

.bg-secondary-200 {
  background-color: var(--clr-neutral-200);/*grey bg*/
}



/* typography */

h1,
h2,
h3,
.section-subtitle,
.text-serif {
  font-family: var(--ff-sans);
  
}

a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}



.text-li {
  font-size: var(--fs-300);
  line-height: 1;
  font-weight: var(--fw-400);
  color: var(--clr-neutral-900);
}

.text-serif {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  line-height: 1.75;
}



.main-title {
  font-weight: var(--fw-300);
  font-size: var(--fs-900);
  line-height: 1.2em;
  letter-spacing: -2%;
  
}

.section-title {
  font-family: var(--ff-sans);
  font-weight: var(--fw-300);
  font-size: var(--fs-800);
  letter-spacing: -2%;
  line-height: 1.1;
}




.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0.2em 1em;
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  font-family: var(--ff-sans);
  text-decoration: none;
  border-radius: 32px;
}




.btn-small {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

.btn-large {
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
}

.btn-black {
 background-color: var(--clr-secondary-900);
 color: var(--clr-neutral-100);
}
.btn-blue {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
}
.btn-purple {
  background-color: var(--clr-secondary-600);
  color: var(--clr-neutral-100);
}





/* general layout */

section {
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

.container {
  max-width: 17rem;
  margin: 0 auto;
  
}


@media (min-width: 64em) {
  
  .container {
    max-width: 54rem;
  }
}

@media (min-width: 80em) {
  .container {
    max-width: 70rem;
  }
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1.5em);
}

.flow-bottom > * + * {
  margin-bottom: var(--flow-spacer, 1.5em);
}

.split {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  
}

/*.split > * + * {
  margin: 4rem 0 0 0;
}*/

/*.split > * {
  flex-basis: 100%;
}

/*@media (min-width: 40em) {
  .split {
    flex-direction: 
  }

  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}*/

.xl-space {
  margin-top: 3.5rem;
}

.xl-bottom {
  margin-bottom: 3.5rem;
}

/* components */

/* primary-header */




.logo-mobile {
  width: 3rem;
  max-height: 2rem;
  
}

.hero-img {
  box-shadow: 0px 4pro0px 80px rgb(161, 149, 149);
}

.search {
  width: 1.5rem;
  max-height: 1.5rem;
}

.header-large,
.header-large-desktop,
.tablet-nav,
.desktop-nav {
  display: none;
}

nav .sub-mobile {
  display: none;
}

.main-nav > :first-child,
.main-nav >:last-child {
  display: none;
}

.main-nav > :nth-child(2){
  position: relative;
}
.main-nav > :nth-child(2)::after {
  display: inline-block;
  content:'';
  position: absolute;
  border-bottom: 3px solid black;
  width: 100%;
  top: 25px;
  left: 0;
  z-index: 1;
  
}


@media (min-width: 64em) {

  .header-large {
    display: flex;
  }
  .logo-large {
    display: inline-block;
    
  }

  .split {
    align-items: center;
    
  }

  .split-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  

  .search {
    position: relative;
    width: 40%;
    padding: 1em;
    outline: none;
    border-radius: 6px;
    border: none;
    
    background: var(--clr-neutral-200) url(./assets/search.svg) right .8em center;
    background-repeat:  no-repeat;
  }

  
  .primary-header .header-mobile {
    display: none;
  }

  .primary-header .header-large {
    display: block;
  }

  nav .sub-mobile {
    display: block;
  }

  

  .main-nav > :first-child{
    position: relative;
  }
  .main-nav > :first-child::after {
    display: inline-block;
    content:'';
    position: absolute;
    border-bottom: 3px solid black;
    width: 100%;
    top: 30px;
    left: 0;
    z-index: 1;
    
  }

  .main-nav > :nth-child(2)::after {
    display: none;
  }

  

  .main-nav > :first-child,
  .main-nav >:last-child {
    display: block;
  }

  .main-nav > li a {
    padding-bottom: 1.5em;
  }

  .text-li{
    font-size: var(--fs-200);
    line-height: 1;
    font-weight: var(--fw-400);
    color: var(--clr-neutral-900);
  }

  .split {
    gap: 2em;
    justify-content: space-between;
  }

  

}

@media (min-width: 80em) {
  .primary-header .header-mobile {
    display: none;
  }

  .primary-header .header-large {
    display: block;
  }

  nav .sub-mobile {
    display: block;
  }

  .main-nav > :first-child,
  .main-nav >:last-child {
    display: block;
  }

  .desktop-nav {
    display: flex;
    padding: 1em 0;
  }

  .main-nav {
    max-width: 35%;
  }

  .main-nav > li  {
    flex-basis: 5%;
  }

  .desktop-nav a {
    
  }

  

}

/* Courses */

.course-gallery-mobile {
  display: flex;
  flex-direction: column;
}

.course {
  border-radius: 24px;
  height: 27.5rem;
  width: 17rem;
  padding: 1.5rem;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.empty {
  flex-grow: 1;
}

.rated {
  align-self: center;
}
.course-split {
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

.tablet-nav,
.desktop-nav {
  display: none;
}
.header-large .main-nav {
  display: none;
}

.course-gallery-tablet,
.course-gallery-desktop {
  display: none;
}

.course-title {
  font-size: var(--fs-800);
  
  
  line-height: 1em;
}

.author {
 font-size: var(--fs-200);
}

.pricing {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: var(--fs-600);
}

@media (min-width: 64em) {

  .course-gallery-mobile,
  .course-gallery-desktop {
    display: none;
  }

  .course-gallery-tablet {
    display: block;
  }
  
  .course-gallery-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em 1.5em;
    
  
  }
  .course {
    width: 26rem;
    height: 30rem;
    
  }


  .courses .tablet-nav {
    display: block;
  }

  .split-nav {
    display: flex;
  }

  .tablet-nav .sub-mobile {
    display: block;

  }

  .tablet-nav {
    display: flex;
    justify-content: space-between;
  }

  

  .sale {
    font-size: var(--fs-200);
    text-decoration: line-through;
  }

  .course-gallery-tablet .blue {
    color: var(--clr-secondary-700);
  }
  
}

@media (min-width: 80em) {

  .courses .tablet-nav {
    display: none;
  }
  .courses .header-large-desktop,
  .courses .desktop-nav {
    display: block;
  }

  .course-gallery-mobile,
  .course-gallery-tablet {
    display: none;
  }

  .course {
    height: 30rem;
    width: 22rem;
  }

  .course-gallery-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5em 1.5em;
  }

  .pricing-wrapper .blue {
    color: var(--clr-secondary-700);
  }


}




/* Get started */

.get-started .yarn-img {
  box-shadow: 0px 10px 50px rgb(161, 149, 149);
}

.get-started button {
  display: block;
}

.get-started .container {
  flex-direction: column;
  padding-top: 1.5em;
 
}

.get-started .more {
  color: var(--clr-secondary-700);
  display: inline-block;
}

@media (min-width: 64em) {
  .get-started .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  } 

  .get-started .get-started-content {
    order: -1;
    flex-basis: 50%;
  }

  .get-started .yarn-img {
    width: 20rem;
    max-height: 20rem;
  }

  .get-started button {
    display: inline-block;
    
  }

  .get-started .more {
    margin-left: 1.5em;
  }
  
  
}

@media (min-width: 80em) {
  
}



/* Become instructor */

.become-instructor {
  padding-bottom: 1.5rem;
  
}

.become-instructor .container {
  flex-direction: column;
  gap: 1.5em;
  position: relative;
  padding-bottom: 3.5rem;
}

.become-instructor .profile-img {
  margin: 0 auto;
  box-shadow: 0px 10px 50px rgb(161, 149, 149);
}

.become-instructor button {
  align-self: flex-start;
  display: inline-block;
  
  
}

.become-instructor button::after {
  display: inline-block;
  content:'';
  position: absolute;
  border-bottom: 3px solid #f1f3f7;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 1;
  
}

@media (min-width: 64em) {
  .become-instructor .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  
  }

  .become-instructor button {
    align-self: end;
    display: block;
    
    
  }

  .become-instructor .instructor-content {
    flex-basis: 60%;
    
  }

  .become-instructor .profile-img {
    max-height: 20rem;
    width: 20rem;
    flex-basis: 40%;
  }
  
}

@media (min-width: 80em) {
  
}

/* Footer */

.footer-split {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

 

.social {
  display: flex;
  gap: 1em;
}

@media (min-width: 64em) {
  .header-mobile,
  .nav-mobile,
  .header-large-desktop,
  .desktop-nav {
    display: none;
  }

  .split-nav {
    display: flex;
    gap: 2em;
  }

  .footer-split {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;

  }

  .footer  .footer-nav {
    display: flex;
    
    gap: 1em;
    margin-top: 0;
   
  }

  .footer .footer-nav li  {
    margin-top: 0;
  }

  .footer .footer-content {
   margin-bottom: 3em; 
  }

  .footer-content img {
   align-self: flex-start;
  }

  .footer .social {
    margin-bottom: 0;
    align-self: flex-start;
  }
  
}

@media (min-width: 80em) {
  
}






 


